[submodule "actividad_integradora"]
	path = analisis_y_diseño_de_algoritmos_avanzados/algorithms
	url = https://github.com/Ax010tl/algorithms.git
[submodule "integracion_de_seguridad_informatica_en_redes_y_sistemas_de_software/practicas-dif"]
	path = integracion_de_seguridad_informatica_en_redes_y_sistemas_de_software/practicas-dif
	url = https://github.com/vpinedagon2000/practicas-dif.git
[submodule "analisis_y_diseño_de_algoritmos_avanzados/5-kruskal-minimum-spanning-trees-villalpando-badillo"]
	path = analisis_y_diseño_de_algoritmos_avanzados/5-kruskal-minimum-spanning-trees-villalpando-badillo
	url = https://github.com/Chang-Luevano/5-kruskal-minimum-spanning-trees-villalpando-badillo.git
[submodule "analisis_y_diseño_de_algoritmos_avanzados/6-prim-minimum-spanning-trees-villalpando-badillo"]
	path = analisis_y_diseño_de_algoritmos_avanzados/6-prim-minimum-spanning-trees-villalpando-badillo
	url = https://github.com/Chang-Luevano/6-prim-minimum-spanning-trees-villalpando-badillo.git
[submodule "analisis_y_diseño_de_algoritmos_avanzados/7-floyd-warshall-shortest-path-villalpando-badillo"]
	path = analisis_y_diseño_de_algoritmos_avanzados/7-floyd-warshall-shortest-path-villalpando-badillo
	url = https://github.com/Chang-Luevano/7-floyd-warshall-shortest-path-villalpando-badillo.git
[submodule "modelacion_de_sistemas_multiagentes_con_graficas_computacionales/TareasAgentirijillos"]
	path = modelacion_de_sistemas_multiagentes_con_graficas_computacionales/TareasAgentirijillos
	url = https://github.com/EdgarRostro/TareasAgentirijillos.git
[submodule "analisis_y_diseño_de_algoritmos_avanzados/8-ford-fulkerson-maximum-flow-villalpando-badillo"]
	path = analisis_y_diseño_de_algoritmos_avanzados/8-ford-fulkerson-maximum-flow-villalpando-badillo
	url = https://github.com/Chang-Luevano/8-ford-fulkerson-maximum-flow-villalpando-badillo.git
[submodule "modelacion_de_sistemas_multiagentes_con_graficas_computacionales/Cochecitos.wiki"]
	path = modelacion_de_sistemas_multiagentes_con_graficas_computacionales/Cochecitos.wiki
	url = https://github.com/EdgarRostro/Cochecitos.wiki.git
[submodule "modelacion_de_sistemas_multiagentes_con_graficas_computacionales/Cochecitos"]
	path = modelacion_de_sistemas_multiagentes_con_graficas_computacionales/Cochecitos
	url = https://github.com/EdgarRostro/Cochecitos.git
[submodule "analisis_y_diseño_de_algoritmos_avanzados/actividad-integradora-2-vale-lalo-lulu"]
	path = analisis_y_diseño_de_algoritmos_avanzados/actividad-integradora-2-vale-lalo-lulu
	url = https://github.com/Chang-Luevano/actividad-integradora-2-vale-lalo-lulu.git
[submodule "analisis_y_diseño_de_algoritmos_avanzados/10-shape-context-villalpando-badillo"]
	path = analisis_y_diseño_de_algoritmos_avanzados/10-shape-context-villalpando-badillo
	url = https://github.com/Chang-Luevano/10-shape-context-villalpando-badillo.git
